.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.navbar input{
  padding: 10px;
}

/* Category Menu */
.category{
  padding: 20px;
}
.category-btns button{
  margin-top: 10px;
  font-size: 20px;
  color:black;
  background-color: #C96868;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}
.category-btns button:hover{
  color:white;
  background-color: black;
  cursor: pointer;
}

.fooditem-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.food-card{
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 10px;
  background-color: #fff;
  position: relative;
  transition: transform 0.3s ease;
}

.food-card:hover{
  transform: scale(1.03);
}

.food-card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.food-card:hover img{
  transform: scale(1.1);
}

.food-card .content{
  padding: 16px;
}

.food-card .name {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.food-card .desc {
  margin: 10px 0;
  font-size: 1em;
  color: #555;
}

.food-card .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-card .price {
  font-size: 1.2em;
  color: #e91e63;
}

.food-card .rating {
  font-size: 1em;
  color: #ff9800;
}
.cart-btn{
  margin-top: 10px;
  font-size: 20px;
  background-color: #C96868;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  color: white;
}

.cart-container{
  width: 20%;
  height: 100%;
  background-color: white;
  position: fixed;
  right:0px;
  top:0;
  z-index:2;
  padding: 20px;
}
.cart-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-header .fa-circle-xmark{
  font-size: 25px;
}
.fa-circle-xmark:hover{
  color:red;
}

.cart-footer{
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.checkout-btn{
  width: 100%;
  border: none;
  background-color: #e91e63;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;

}

.fa-cart-shopping{
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 30px;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}


@media (max-width: 576px){
  .navbar{
    flex-direction: column;
  }
  .navbar input {
    margin-top: 20px;
  }
}


